@page "/"

<PageTitle>Home</PageTitle>

<section class="vh-100 d-flex flex-column justify-content-center align-items-center bg-light text-center">
	<h1 class="display-4 fw-bold text-success">Part Sales</h1>
	<h2 class=" fw-bold text-black-50">Venta de Repuestos</h2>
	<p class="lead">Encuentra las mejores partes y repuestos para tu vehículo de forma fácil y rápida.</p>
	<a href="piezas" class="btn btn-primary btn-lg">Ver Piezas</a>
</section>
