@using APP2024P4.Data.Datos
@using System.Text
@rendermode InteractiveServer

<div class="mb-3">
	<label for="ImageUpload" class="form-label">Imagen:</label>
	<InputFile class="form-control" id="ImageUpload" OnChange="ImageLoad" accept=".jpeg, .png, .jpg" />

	@if(!string.IsNullOrEmpty(producto.Imagen)){
		<img src="@producto.Imagen" alt="Imagen de @producto.Nombre"/>
	}
</div>
@code {
	public ProductoRequest producto { get; set; } = new();
	public string messageImage { get; set; }
	private async Task ImageLoad(InputFileChangeEventArgs e)
	{
		try
		{
			var file = e.File;
			var contenType = file.ContentType;

			var espacio = Encoding.UTF8.GetByteCount($"data:{file.ContentType};base64,");

			var buffer = new byte[file.Size];
			await file.OpenReadStream().ReadAsync(buffer);

			string img = $"data:{file.ContentType};base64,{Convert.ToBase64String(buffer)}";

			producto.Imagen = img;
			messageImage = $"{file.Name} was added";
		}
		catch (Exception ex)
		{
			messageImage = $"Error trying to add an Image: {ex.Message}";

		}
		finally
		{
			StateHasChanged();
		}

	}
}
