@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div>
                        <NavLink class="nav-link" href="notificaciones">
                            <button type="button" class="btn btn-primary position-relative">
                                Inbox
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    @NotificationCount
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </button>
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public int NotificationCount { get; set; } = 0;

    public void UpdateNotificationCount(int count)
    {
        NotificationCount = count;
        StateHasChanged();
    }
}