@inherits LayoutComponentBase
@* <img src="https://images.unsplash.com/photo-1501082183835-b7b33db89c3f?q=80&w=2320&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="100%" height="200" alt="..."> *@
<style>
    .titulo{
        width:100%;
        height:150px;
        background-color:black;
        text-align:center;
        color:crimson;
    }
    .titulo h1{
        font-weight:700;
        font-size:8rem;
        font-family:'Century Gothic';
        letter-spacing:50px;
    }

</style>
<div class="titulo">
        <h1 >BLACK FRIDAY</h1>
</div>

<div class="page">


    <main>
        <nav class="@Black">
            <div class="container-xl">
                <!-- Logo -->
                <a class="navbar-brand" href="">
                   <h1>Grocery Store</h1>
                </a>
                <!-- Collapse -->
                <div class="collapse navbar-collapse">
                    <!-- Nav -->
                    <div class="navbar-nav mx-lg-auto">
                        <a class="nav-item nav-link active" href="inicio" aria-current="page">Home</a>
                        <a class="nav-item nav-link" href="#">Product</a>
                        <a class="nav-item nav-link" href="#">Features</a>
                        <a class="nav-item nav-link" href="#">Pricing</a>

                    </div>
                     <form class="d-flex align-items-lg-center mt-3 mt-lg-0" role="search">
                    <input class="form-control align-items-lg-center mt-3 mt-lg-0" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                    <!-- Right navigation -->
                    <div class="navbar-nav ms-lg-4">
                        <a class="nav-item nav-link" href="Account/Login">Sign in</a>
                    </div>
                    <!-- Action -->
                    <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                        <a href="Account/Register" class="btn btn-sm btn-primary w-full w-lg-auto">
                            Register
                        </a>
                    </div>

                </div>
            </div>
                <AuthorizeView>
                <a href="#" style="margin-right:150px" class=" p-3 avatar bg-danger rounded-circle text-white">
                    RG
                </a>
                </AuthorizeView>
        </nav>
        <article class="content px-4">
            @Body
        </article>

    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    string themeWhite = "navbar navbar-expand-lg navbar-light bg-light px-0 py-3";
    string Black = "navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3 shadow mb-5 bg-body-tertiary";

}