@rendermode InteractiveServer
@attribute [StreamRendering]
@page "/marcas"
@using APP2024P4.Data.Datos
@* @using Microsoft.AspNetCore.Authorization
@attribute [Authorize] *@

@if (ShowForm)
{
    @* Formularion de accion*@
    <div class="card">
        <h5 class="card-header">@Accion Marca</h5>
        <div class="card-body">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input @bind-value="MiMarca.Nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
            </div>
            @if (Accion != Constants.Acciones.Ver)
            {
                <span class="btn btn-primary me-2" @onclick="Aceptar">Aceptar</span>
            }
            <span class="btn btn-danger" @onclick="btnCancelarClick">@(Accion != Constants.Acciones.Ver ? "Cancelar" : "Salir")</span>
        </div>
    </div>
}
else
{
    @if (MarcaList != null)
    {
        @* Formularion de los registros*@
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <a href="/admin" class="btn btn-outline-primary" type="button">⬅️ Volver</a>
        <div class="card mb-3 mt-3">
            <div class="card-header">
                <span class="btn btn-success" @onclick="btnAgregarClick">
                    <i class="bi bi-plus-circle"></i> Agregar Marca
                </span>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (MarcaList.Count > 0)
                        {
                            @foreach (var m in MarcaList)
                            {
                                <tr>
                                    <th scope="row">@m.Id</th>
                                    <td>@m.Nombre</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <span @onclick="()=>btnEditarClick(m)" class="btn btn-secondary rounded me-2">
                                                <i class="bi bi-pencil"></i> Editar
                                            </span>
                                            <span @onclick="()=>btnEliminarClick(m)" class="btn btn-danger rounded">
                                                <i class="bi bi-trash"></i> Eliminar
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>Cargando...</p>
    }
}
@code {
    #region Propiedades del componente Index.Razor
    public string Accion { get; set; } = "Registrar";
    public MarcaRequest MiMarca { get; set; } = new();

    public List<MarcaDatos>? MarcaList { get; set; } = new();
    bool ShowForm = false, DisableInputs = false;
    #endregion Propiedades del componente Index.Razor

    #region Metodos del ciclo de vida de la aplicacion (para este componente)
    protected override async Task OnInitializedAsync()
    {

        try
        {
            await Consultar();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error durante la inicialización: {ex.Message}");
        }
    }
    #endregion Metodos del ciclo de vida de la aplicacion (para este componente)

    #region Eventos
    public void btnAgregarClick()
    {
        Accion = Constants.Acciones.Registrar;
        ShowForm = true;
        StateHasChanged();
        DisableInputs = false;
    }
    public void btnEditarClick(MarcaDatos dto)
    {
        Accion = Constants.Acciones.Editar;
        ShowForm = true;
        DisableInputs = false;
        MiMarca = dto.ToRequest();
    }
    public void btnEliminarClick(MarcaDatos dto)
    {
        Accion = Constants.Acciones.Eliminar;
        ShowForm = true;
        DisableInputs = true;
        MiMarca = dto.ToRequest();
    }
    public void btnCancelarClick()
    {
        Limpiar();
    }
    #endregion Eventos

    #region Métodos
    async Task Consultar()
    {
        var result = await marcaService.GetAll();
        if (result.Succesd)
        {
            MarcaList =
            result.Data?.ToList()
            ??
            new List<MarcaDatos>();
        }
    }
    public void Limpiar()
    {
        ShowForm = false;
        MiMarca = new();
    }
    public async Task Aceptar()
    {
        Result r =
        Accion == Constants.Acciones.Registrar ? await marcaService.Create(MiMarca) :
        Accion == Constants.Acciones.Editar ? await marcaService.Update(MiMarca) :
        Accion == Constants.Acciones.Eliminar ? await marcaService.Delete(MiMarca.Id) :
        Result.Success("");
        Result.Failure("Accion no soportada");
        if (r.Succesd)
        {
            await Consultar();
            Limpiar();
        }
    }
    #endregion Métodos
}