<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height:max-content">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Categorias</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        @if(Categorias != null)
        {
            @if(Categorias.Count > 0)
            {
                @foreach (var c in Categorias)
                {
                    <li class="nav-item">
                        <p href="#" class="nav-link active" aria-current="page">
                            @c.Nombre
                        </p>
                    </li>
                }
            }
        }
    </ul>
</div>
@code {
    public List<CategoriaDto> Categorias { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        await ConsultarCategorias();
    }
    async Task ConsultarCategorias()
    {
        var result = await categoriaService.GetAll();
        if (result.Succesd)
        {
            Categorias = result.Data?.ToList() ?? new List<CategoriaDto>();
        }
    }
}
