@rendermode InteractiveServer
@attribute [StreamRendering]
@page "/productos"

<div style="display:flex; flex-direction:row;">
    <div style="width:10%; margin-left:10px; "> 
        </div>
    <div style="width:80%; ">
        <AddProduct></AddProduct>
    </div>
</div>

@code {

}
