@inject IJSRuntime JSRuntime
@page "/"

<PageTitle>Home</PageTitle>
<main>
    <div style="padding:10px 0 10px 0">
    <Carrusel></Carrusel>
    </div>
    <div style="padding:10px 0 10px 0">
    <Especiales></Especiales>
    </div>
</main>


@code {

}
